*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.btn{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  margin: 5px 0;

}

.btn:hover{
  /* border: 1px solid #000; */
  color: #fff;
  background-color: #000;
}

tr {
  border-bottom: 1px solid #000;
}

